.banner-container {
  width: 100%;
  margin: auto;
  padding-top: 20px;
}

.banner-img {
  width: 1600px;
  height: 400px;
  object-fit: contain;
  transition: transform 0.5s ease, z-index 0.5s;
  z-index: 1;
  position: relative;
}

.banner-img:hover {
  transform: scale(1.03);
  z-index: 10;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  overflow: visible; 
  position: relative;
}
