.movie-showtimes-page {
  font-family: monospace;
}
.movie-showtimes-page label {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 28px;
  font-family: monospace;
}

.showtimes-table {
  margin-top: 20px;
}

.theater-row {
  display: grid;
  grid-template-columns: 300px 1fr;
  align-items: flex-start;
  gap: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  min-height: 100px;
}

.theater-name-col {
  display: flex;
  align-items: center;
}

.showtime-theater-name {
  font-size: 20px;
}

.showtimes-col {
  display: flex;
  align-items: center;
}

.showtimes {
  color: #3d3d3d;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.showtime-badge {
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid #cccccc;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 16px;
}

.showtime-badge:hover {
  background-color: #0c47be;
  color: white;
  border-color: #0c47be;
  cursor: pointer;
  transition: all 0.2s ease;
}


.schedule-divider {
  border: 2px solid #0c47be;
  margin: 20px 0;
}
